<!-- <h1>Pages#answer</h1> -->
<!-- <p>Find me in app/views/pages/answer.html.erb</p> -->
<body>

<div class = "box">
<h1>Your question is: <%= @question%> </h1>
<h2>The answer is: <%= @answer%> </h2>
<a href="http://localhost:3000/ask">Ask another question</a>
</div>

</body>



