<!-- <h1>Pages#answer</h1> -->
<!-- <p>Find me in app/views/pages/answer.html.erb</p> -->
<body>

<div class = "box">
<h1>Your question is: <%= @question%> </h1>
<h2>The answer is: <%= @answer%> </h2>
<%= link_to 'Ask another question', root_path %>
</div>

</body>



