<!-- <h1>Pages#answer</h1> -->
<!-- <p>Find me in app/views/pages/answer.html.erb</p> -->
<body>

<div class = "box">
<p>Your question is: <%= @question%> </p>
<p>The answer is: <%= @answer%> </p>
<a href="http://localhost:3000/ask">Ask another question</a>
</div>

</body>


