// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  color: grey;
  &:hover {
    color: black;
  }
}

body {
  background: #edeef0; // Using this variable
}

.box{
  background: #ffffff;
}
